.next
out
node_modules
patch
backend/ocr_cache
public
archives
package-lock.json
yarn.lock
*.js
*.md
catelog.json
article_indexes.json

book_catelog.json
music_catelog.json
gallery_catelog.json
article_indexes.json
book_indexes.json
tag_indexes.json

config/archives*
parsed/archives*
ocr_cache/archives*
ocr_patch/archives*
raw/archives*