.next
out
node_modules
patch
backend/ocr_cache
public
archives
package-lock.json
yarn.lock
*.js
*.md

indexes/*.json

config/archives*
parsed/archives*
ocr_cache/archives*
ocr_patch/archives*
raw/archives*

migration
next_helper