html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.markdown {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.markdown img {
  max-width: 100%;
  box-shadow: gray 0px 0 3px;
  border: 12px solid white;
}

em {
  color: red;
}
