html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #cc0000;
}

a:visited {
  color: #aa0000;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
